/* h1 {
    color: green;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  } */

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="email"],
  input[type="password"]
  input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }