{% extends "base.html" %}

{% block body %}
    <h2>Add medicines</h2>
    <form action="" method="POST">
        <label for="medicine">Select medicine(s):</label>
        <select name="medicine" id="medicine">
            {% for medicine in medicines %}
                <p>
                    <option value={{ medicine.title }}>{{ medicine.title.capitalize() }}</option>
                </p>
            {% endfor %}
        </select>
        <label for="qty">Quantity:</label>
        <input type="text" id="qty" name="qty">
        <input type="submit" value="Submit" />
    </form>
{% endblock %}