{% extends "base.html" %}

{% block body %}
    <h2>Medicine Details</h2>
    <div class="container">
      <div class="row">
        <div class="col-sm-3 sm-4"></div>
        {% for x in mykart %}
            <div class="card" style="width: 14rem;">
              <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{x.title}}</h5>
                <p class="card-text">Qty: {{x.qty}}</p>
                <a href="#" class="btn btn-primary">Details</a>
              </div>
            </div>
        {% else %}
          <h3>No data to display</h3>
        {% endfor %}
      </div>
    </div>
    <a href="/add_item" class="btn btn-primary" type="submit">Add Medicine</a>
    <script>
        var table = document.getElementsByTagName('table')[0],
        rows = table.getElementsByTagName('tr'),
        text = 'textContent' in document ? 'textContent' : 'innerText';
      
      for (var i = 1, len = rows.length; i < len; i++) {
        rows[i].children[0][text] = i;
      }
    </script>
{% endblock %}