{% extends "base.html" %}

{% block body %}
    <h2>myKart</h2>
    {% if not mykart %}
        <p>No item in kart. Add now!</p>
    {% else %}
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Item</th>
            <th scope="col">Qty</th>
            <th scope="col">Price</th>
            <th scope="col">Net Price</th>
          </tr>
        </thead>
        <tbody>
        {% for title, qty, price, total_price in mykart %}
            <tr>
              <th scope="row">1</th>
              <td>{{title}}</td>
              <td>{{qty}}</td>
              <td>{{price}}</td>
              <td>{{total_price}}</td>
            </tr>          
        {% endfor %}    
        </tbody>
    </table>
    {% endif %}
    <a href="{{url_for('get_add_item_to_kart_page')}}" class="btn btn-primary" type="submit">Add Medicine</a>
    {% if mykart %}
      <a href="{{url_for('get_checkout_page')}}" class="btn btn-success" type="submit">Check Out</a>
    {% else %}  
      <a href="{{url_for('get_checkout_page')}}" class="btn btn-success disabled" aria-disabled="true" type="submit">Check Out</a>
    {% endif %}
    <script>
      var table = document.getElementsByTagName('table')[0],
      rows = table.getElementsByTagName('tr'),
      text = 'textContent' in document ? 'textContent' : 'innerText';
      
      for (var i = 1, len = rows.length; i < len; i++) {
        rows[i].children[0][text] = i;
      }
    </script>
{% endblock %}